@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Swiper custom styles */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem !important;
}